---
import Layout from '../layouts/Layout.astro';
import AnimatedStars from '../components/AnimatedStars.astro';
---

<Layout title="Animations">
  <div class="decorative-border">
    <div class="corner-sun">
      <a href="/">
        <img src="/ALT/img/Sol.png" alt="Sun" class="corner-sun-img" />
      </a>
      <div class="corner-stars">
        <span class="star" style="top: 12%; left: 60%;"></span>
        <span class="star" style="top: 30%; left: 80%;"></span>
        <span class="star" style="top: 40%; left: 50%;"></span>
      </div>
    </div>
    <div class="main-content">
      <h1 class="main-title">Animations</h1>
      <div class="main-subtitle">A bit of my broken mind</div>
      <div class="sols-row">
        <a href="/ALT/animations/uno"><img src="/ALT/img/SolYLuna.png" alt="Sol y Luna 1" class="sol-icon" /></a>
        <a href="/ALT/animations/dos"><img src="/ALT/img/SolYLuna.png" alt="Sol y Luna 2" class="sol-icon" /></a>
        <a href="/ALT/animations/tres"><img src="/ALT/img/SolYLuna.png" alt="Sol y Luna 3" class="sol-icon" /></a>
        <a href="/ALT/animations/cuatro"><img src="/ALT/img/SolYLuna.png" alt="Sol y Luna 4" class="sol-icon" /></a>
      </div>
    </div>
  </div>
  <AnimatedStars count={16} />
</Layout>

<style>
  @import url('../styles/global.css');
  html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .decorative-border {
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    border: 0.3vw solid #fff;
    border-radius: 2vw;
    box-sizing: border-box;
    overflow: hidden;
    background: #5c1818;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .decorative-border:before, .decorative-border:after {
    content: '';
    position: absolute;
    border: 0.3vw solid #fff;
    border-radius: 2vw;
    width: 100%;
    height: 100%;
    pointer-events: none;
    left: 0; top: 0;
  }
  .decorative-border:before {
    border-top-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
    border-width: 0.5vw 0 0 0.5vw;
    width: 99%;
    height: 99%;
  }
  .decorative-border:after {
    border-bottom-left-radius: 4vw;
    border-top-right-radius: 4vw;
    border-width: 0 0.5vw 0.5vw 0;
    width: 99%;
    height: 99%;
  }
  .corner-sun {
    position: absolute;
    top: 0;
    left: 0;
    width: 13vw;
    height: 13vw;
    z-index: 2;
  }
  .corner-sun-img {
    width: 80%;
    height: auto;
    margin: 7% 0 0 7%;
    filter: drop-shadow(0 0 1vw #fff8);
  }
  .corner-stars {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .star {
    position: absolute;
    width: 0.7vw;
    height: 0.7vw;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0.5vw #fff8;
    opacity: 0.8;
  }
  .main-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 1;
  }
  .main-title {
    color: #fff;
    font-size: 5vw;
    font-weight: 500;
    text-align: center;
    margin: 0 0 1vw 0;
    letter-spacing: 0.1em;
  }
  .main-subtitle {
    color: #fff;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 4vw;
    opacity: 0.9;
  }
  .sols-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    width: 100%;
    margin-top: 2vw;
  }
  .sol-icon {
    width: 15vw;
    max-width: 22vw;
    min-width: 10vw;
    height: auto;
    filter: drop-shadow(0 0 0.7vw #fff8);
    transition: transform 0.2s;
  }
  .sol-icon:hover {
    transform: scale(1.07) rotate(-2deg);
    filter: drop-shadow(0 0 1vw #fff8);
  }
  @media (max-width: 900px) {
    .main-title { font-size: 8vw; }
    .main-subtitle { font-size: 3vw; }
    .sol-icon { width: 22vw; }
    .corner-sun { width: 18vw; height: 18vw; }
  }
  @media (max-width: 600px) {
    .main-title { font-size: 11vw; }
    .main-subtitle { font-size: 5vw; }
    .sol-icon { width: 28vw; }
    .corner-sun { width: 25vw; height: 25vw; }
  }
</style> 